go 1.26.0

use (
	.
	./delivery/nats
	./delivery/redis
	./delivery/webhook
	./relaytest
	./store/gorm
	./store/pgx
	./store/sql
	./store/sqlcore
	./storetest
	./transport/core
	./transport/fiber
	./transport/gin
	./transport/http
	./transporttest
)
